* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
    /* newly added */
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    
}



header img{
    filter: invert(1);
}
img{
    border-radius: 25px;
}
@font-face {
    font-family: Opificio;
    src: url("Opificio_Bold_rounded.ttf");
}

body{

    background-image: url("vitNQU.jpg");
    background-size: cover;
     
}


header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;  

}
header img{
    margin: 15px 0px 0px 30px;
}
header div{
    padding: 3em; 
    display: flex;
    flex-direction: row;

}
header div li{
    display: flex;
    padding: 1em;
    color: white;
    font-family: Opificio;
    letter-spacing: 1.5px;
    font-size: large;
    transition: all 0.3s ease-in-out;
}
header div li:hover{
    background-color: white;
    color: black;
}
.container1{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 3em;
}
.container2{
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin: 3em;
}
.container3{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 3em;
}
.container4{
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin: 3em;
}

.bl1{
    width: 35%;
    background-color: rgba(0, 0, 0, 0.545);
    padding: 1.5em;
    border-radius: 25px;
    color: white;
}
.bl1 p{
    font-family: Opificio;
    letter-spacing: 1.5px;
    font-size: large;
}

footer{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer div{

    display: flex;
    flex-direction:row ;
    margin-left: 20px;
    padding-bottom: 2em;
    

}

footer div li{

    display:flex ;
    flex-direction: row;
    justify-self: space-between;
    color: rgb(255, 255, 255);
    font-family: Opificio;
    letter-spacing: 1.5px;
    font-size: large;
     padding: 3em; 
     margin-bottom: 1em;

}   

.nav * {
    box-sizing: border-box;
    transition: all .35s ease;
  }
  
  .nav li {
    display: inline-block;
    list-style: outside none none;
    margin: .5em 1em;
    padding: 0;
  }
  
  .nav a {
    padding: .5em .8em;
    color: rgba(255,255,255,.5);
    position: relative;
    text-decoration: none;
    font-size: 20px;
  }
  
  .nav a::before,
  .nav a::after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
  }
  
  .nav a::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid #3E8914;
    border-right: 3px solid #2E640F;
    transform: translate(-100%, 50%);
  }
  
  .nav a:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid #2E640F;
    border-left: 3px solid #3E8914;
    transform: translate(100%, -50%)
  }
  
  .nav a:hover:before,
  .nav a:hover:after{
    transform: translate(0,0);
    opacity: 1;
  }
  
  .nav a:hover {
    color: #3DA35D;
  }
  
   

  footer div p{
    display: flex;
    flex-direction: row;
    color :wheat;
    padding-left: 300px; 
    padding-top: 12px;
    
   
  }  
  
  footer p a{
text-decoration: none;
margin-top: -10px;
text-transform: capitalize;

  }




  
 