* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
    /* newly added */
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    
}
header img{
    filter: invert(1);
}
img{
    border-radius: 25px;
}
@font-face {
    font-family: Opificio;
    src: url("Opificio_Bold_rounded.ttf");
}

body{

    background-image: url("vitNQU.jpg");
    background-size: cover;
     
}


header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
header img{
    margin: 15px 0px 0px 30px;
}
header div{
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
header div li{
    display: flex;
    padding: 1em; 
    justify-content: space-between;
    color: white;
    font-family: Opificio;
    letter-spacing: 1.5px;
    font-size: large;
    transition: all 0.3s ease-in-out;
}
header div li:hover{
    background-color: white;
    color: black;
}
.container1{
    display: inline-flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 3em;
}
.container2{
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin: 3em;
}
.container3{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 3em;
}
.container4{
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin: 3em;
}

.bl1{
    width: 35%;
    background-color: rgba(0, 0, 0, 0.545);
    padding: 1.5em;
    border-radius: 25px;
    color: white;
}
.bl1 p{
    font-family: Opificio;
    letter-spacing: 1.5px;
    font-size: large;
}

.container1 img{
filter: invert(1);

}

footer{

    display: flex;
    flex-direction: row;
}

footer div{

    display: flex;
    flex-direction:row ;
   
}
footer div li {

display:flex ;
flex-direction: row;
justify-content: space-between;
color: white;
font-family: Opificio;
letter-spacing: 1px;
font-size: large;
padding: 200em; 
transition: cubic-bezier(0.755, 0.05, 0.855, 0.06);

}

footer div li :hover{

    color:black;
    background-color: white;
}